@model IEnumerable<goldStore.Areas.Panel.Models.product>
<div class="htc__recent__product">
    <h2 class="title__line--4">En Çok Satanlar</h2>
    <div class="htc__recent__product__inner">
        @foreach (var item in Model)
        {
            <!-- Start Single Product -->
            <div class="htc__best__product">
                <div class="htc__best__pro__thumb">
                    <a href="@Url.Action("ProductDetail","Shop",new { productId=item.productId})">
                        <img src="@Url.Action("Thumbnail", "Shop", new { width = 130, height = 170, Id =item.productId,_imageId=item.productImage.FirstOrDefault().imageId })" alt="@item.productName">
                    </a>
                </div>
                <div class="htc__best__product__details">
                    <h2><a href="@Url.Action("ProductDetail","Shop",new { productId=item.productId})">@item.productName</a></h2>
                    <ul class="rating">
                        <li><i class="icon-star icons"></i></li>
                        <li><i class="icon-star icons"></i></li>
                        <li><i class="icon-star icons"></i></li>
                        <li class="old"><i class="icon-star icons"></i></li>
                        <li class="old"><i class="icon-star icons"></i></li>
                    </ul>
                    <ul class="pro__prize">
                        <li class="old__prize">₺@item.oldPrice</li>
                        <li>₺@item.price</li>
                    </ul>
                </div>
            </div>
            <!-- End Single Product -->
        }


    </div>
</div>
