@model goldStore.Areas.Panel.Models.Entity.user
@using goldStore.Models.ViewModel
@using goldStore.Areas.Panel.Models.Entity
@{
    Layout = null;
}
@Html.Partial("~/Views/_Shared/_header.cshtml")
<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(images/bg/4.jpg) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner">
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" href="@Url.Action("/")">Anasayfa</a>
                            <span class="brd-separetor"><i class="zmdi zmdi-chevron-right"></i></span>
                            <span class="breadcrumb-item active">Ödeme</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="checkout-wrap ptb--100">
    <div class="container">
        <div class="row">
            @using (Html.BeginForm("Checkout", "Shop", FormMethod.Post, new { @id = "checkoutForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-8">
                    <div class="checkout__inner">
                        <div class="accordion-list">
                            <div class="accordion">

                                <div class="accordion__title">
                                    Kişisel Bilgiler
                                </div>
                                <div class="accordion__body">
                                    <div class="bilinfo">
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="single-input">
                                                        @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { placeholder = "İsim" } })

                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="single-input">
                                                        @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { placeholder = "Soy isim" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="single-input">
                                                        @Html.EditorFor(model => model.address, new { htmlAttributes = new { placeholder = "Adres" } })
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="single-input">
                                                        @Html.EditorFor(model => model.city, new { htmlAttributes = new { placeholder = "Şehir" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="single-input">
                                                        @Html.EditorFor(model => model.postCode, new { htmlAttributes = new { placeholder = "Posta Kodu" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="single-input">
                                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { placeholder = "Eposta" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="single-input">
                                                        @Html.EditorFor(model => model.phone, new { htmlAttributes = new { placeholder = "Telefon" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="accordion__title">
                                    Farklı Gönderme Bilgileri
                                </div>
                                <div class="accordion__body">
                                    <div class="shipinfo">
                                        <h3 class="shipinfo__title">Gönderim Adresi</h3>
                                        <p><b>Adres:</b> </p>
                                        <input type="checkbox" id="shipbox" name="shipbox" checked="@(Session["isGuest"]==null?false:true)" class="ship-to-another-trigger">
                                        <a class="ship-to-another-trigger">
                                            <i class="zmdi zmdi-long-arrow-right">
                                            </i>Farklı bir Adrese Gönderim
                                        </a>
                                        <div class="ship-to-another-content">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="single-input">
                                                        <input type="text" id="ad" name="ad" value="@(Session["ad"]??"")" placeholder="İsim">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="single-input">
                                                        <input type="text" id="soyad" name="soyad" value="@(Session["soyad"]??"")" placeholder="Soy İsim">
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="single-input">
                                                        <input type="text" id="adres" name="adres" value="@(Session["adres"]??"")" placeholder="Adres">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="single-input">
                                                        <input type="text" id="sehir" name="sehir" value="@(Session["sehir"]??"")" placeholder="Şehir">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="single-input">
                                                        <input type="text" id="postakodu" name="postakodu" value="@(Session["postakodu"]??"")" placeholder="Posta Kodu">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="single-input">
                                                        <input type="email" id="eposta" name="eposta" value="@(Session["eposta"]??"")" placeholder="Eposta">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="single-input">
                                                        <input type="text" id="telefon" name="telefon" value="@(Session["telefon"]??"")" placeholder="Telefon">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="accordion__title">
                                    Gönderme Yöntemi
                                </div>
                                <div class="accordion__body">
                                    <div class="shipmethod">
                                        <div class="single-input">
                                            @if (Session["shipPrice"] != null)
                                            {
                                                <p>
                                                    <input type="radio" name="shipmethod" id="ship-fast" @((decimal)Session["shipPrice"] == 10m ? "checked" : "unchecked") value="1">
                                                    <label for="ship-fast">Hızlı Gönderim</label>
                                                </p>
                                            }
                                            else
                                            {
                                                <p>
                                                    <input type="radio" name="shipmethod" id="ship-fast" value="1">
                                                    <label for="ship-fast">Hızlı Gönderim</label>
                                                </p>
                                            }
                                            <p>Teslimatınız en geç iki gün içerisinde teslim edilir.Hızlı gönderim ücreti 10 TL ücrete tabidir.</p>
                                        </div>
                                        <div class="single-input">
                                            @if (Session["shipPrice"] != null)
                                            {
                                                <p>
                                                    <input type="radio" name="shipmethod" id="ship-normal" @((decimal)Session["shipPrice"] == 5m ? "checked" : "unchecked") value="2">
                                                    <label for="ship-normal">Normal Gönderim</label>
                                                </p>
                                            }
                                            else
                                            {
                                                <input type="radio" name="shipmethod" id="ship-normal" value="2">
                                                <label for="ship-normal">Normal Gönderim</label>
                                            }
                                            <p>Lokasyonunuza göre en geç 1 hafta içerisinde teslimatınız yapılır</p>


                                        </div>

                                    </div>
                                </div>
                                <div class="accordion__title">
                                    Ödeme Tipi
                                </div>
                                <div class="accordion__body">
                                    <div class="paymentinfo">
                                        <div class="single-method">
                                            <input type="radio" name="paymentmethod" id="havale" value="1">
                                            <a href="#"><i class="zmdi zmdi-long-arrow-right"></i>Havale</a>
                                        </div>
                                        <div class="single-method">
                                            <input type="radio" name="paymentmethod" id="kredikarti" class=paymentinfo-credit-trigger value="2">
                                            <a href="javascript:void(0);" class="paymentinfo-credit-trigger"><i class="zmdi zmdi-long-arrow-right"></i>Kredi Kartı</a>
                                        </div>
                                        <div class="paymentinfo-credit-content">

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="single-input mt-0">
                                                        <input type="text" placeholder="Kart üzerinde yazan isim">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="single-input">
                                                        <input type="text" placeholder="Kredi Kartı No*">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="single-input">
                                                        <select>
                                                            <option>Ay</option>
                                                            @for (int i = 1; i <= 12; i++)
                                                            {
                                                                <option>@i</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="single-input">
                                                        <select>
                                                            <option>Yıl</option>
                                                            @for (int i = 2019; i >= 2010; i--)
                                                            {
                                                                <option>@i</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="single-input">
                                                        <input type="text" placeholder="Kartın arkasındaki güvenlik kodu*">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="single-method">
                                            <input type="radio" name="paymentmethod" id="Kapidaodeme" value="3">
                                            <a href="#" class="paymentinfo-credit-trigger"><i class="zmdi zmdi-long-arrow-right"></i>Kapıda Ödeme</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    @if (Session["Card"] != null)
                    {
                        List<BasketItem> sepet = (List<BasketItem>)Session["Card"];
                        <div class="order-details">
                            <h5 class="order-details__title">Sepet Ürünleri</h5>
                            <div class="order-details__item">
                                @foreach (var item in sepet)
                                {
                                    <div class="single-item">
                                        <div class="single-item__thumb">
                                            <img src="@Url.Action("Thumbnail", "Shop", new { width = 58, height = 70, Id = item.product.productId, _imageId = item.product.productImage.FirstOrDefault().imageId })" alt="ordered item">
                                        </div>
                                        <div class="single-item__content">
                                            <a href="@Url.Action("ProductDetail","Shop", new { productId = item.product.productId })">@item.product.productName</a>
                                            <span class="price">₺@item.product.price X @item.quantity</span>
                                        </div>
                                        <div class="single-item__remove">
                                            <a href="@Url.Action("Remove","Shop", new { productId = item.product.productId })"><i class="zmdi zmdi-delete"></i></a>
                                        </div>
                                    </div>
                                }


                            </div>
                            <div class="order-details__count">
                                <div class="order-details__count__single">
                                    <h5>Alt Tutar</h5>
                                    <span class="price">₺ @(sepet.Sum(x => x.product.price * x.quantity))</span>
                                </div>
                                <div class="order-details__count__single">
                                    <h5>İndirim</h5>
                                    @{ decimal indirim = 0;

                                        if (Session["discount"] != null)
                                        {
                                            coupons coupon = (coupons)Session["discount"];
                                            indirim =(decimal) coupon.discount;
                                        }
                                        <span class="price">₺ @indirim </span>

                                    }

                                </div>
                                <div class="order-details__count__single">
                                    <h5>Gönderim Tutar</h5>
                                    @{ decimal gonderim = 0;

                                        if (Session["shipPrice"] != null)
                                        {
                                            gonderim = (decimal)Session["shipPrice"];

                                        }
                                        <span class="price">₺ @gonderim </span>

                                    }
                                </div>
                            </div>
                            <div class="ordre-details__total">
                                <h5>Sipariş Tutarı</h5>
                                <span class="price">₺ @(sepet.Sum(x => x.product.price * x.quantity) + gonderim - indirim)</span>
                            </div>
                        </div>

                        <ul class="payment__btn">
                            <li class="active">
                                <a href="javascript:void(0);" id="purchase">Öde</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <strong>Uyarı!</strong>Sepet Boş
                        </div>
                    }


                    @if (ViewBag.status == true)
                    {
                        <div class="alert alert-success">
                            <strong>Tebrikler!</strong>@ViewBag.message
                        </div>
                    }
                    else
                    {
                        if (ViewBag.message != null)
                        {
                            <div class="alert alert-danger">
                                <strong>Uyarı!</strong>@ViewBag.message
                            </div>
                        }
                    }

                </div>
            }
        </div>
    </div>
</div>
@{
        Html.RenderAction("PartialBrands");
    }
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type = "text/javascript" >
    $(function () {


        //formu kaydır
        $(".ship-to-another-trigger").click(function () {
            if ($(this).prop("checked") == true) {
                $(".ship-to-another-content").slideDown(1000);
                $("#shipbox").val("true");
            }
            else {
                $(".ship-to-another-content").slideUp(1000);
                $("#shipbox").val("false");
            }
        });
        //  form açılışında başkası adı seçilmişse formu kaydır
        if ($("#shipbox").is(":checked")) {
            $(".ship-to-another-content").slideDown(1000);
        }
        else
            $(".ship-to-another-content").slideUp(1000);

        // öde ye basılınca
        $("#purchase").click(function () {
            $("#checkoutForm").submit();
        });
        // kedi kartına basılınca


            var trigger = $('#kredikarti'),
            container = $('.paymentinfo-credit-content');
        trigger.on('click', function (e) {
            $(trigger).prop("checked", true);

                container.slideDown(1000);
        });
        $("#havale").click(function () {
            container.slideUp(1000);

        });
        $("#Kapidaodeme").click(function () {
            container.slideUp(1000);

        });
        //hızlı göndeeri seçilirse
        $("#ship-fast").on("click", function () {
              if ($("#ship-fast").is(":checked")) {
            $.ajax({
                url: '@Url.Action("applyShipPrice")',
                type: 'POST',
                data: { shipmethod: $("#ship-fast").val()},
                success: function(response) {
                    location.reload();
                }
            });
        }
        });

        // normal gönderi seçilirse
        $("#ship-normal").on("click", function () {

         if ($("#ship-normal").is(":checked")) {

            $.ajax({
                url: '@Url.Action("applyShipPrice")',
                type: 'POST',
                data: { shipmethod: $("#ship-normal").val()},
                success: function (response) {
                    $.notify(response);
                    location.reload();

                }
            });
        }
        });
    });
</script>