@model IEnumerable<goldStore.Areas.Panel.Models.Entity.product>
<section class="htc__product__area--2 pb--100 product-details-res">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section__title--2 text-center">
                    <h2 class="title__line">Yeni Eklenen Ürünler</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product__wrap clearfix">
                @foreach (var item in Model)
                {
                    <!-- Start Single Product -->
                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                        <div class="category">
                            <div class="ht__cat__thumb">
                                <a href="@Url.Action("ProductDetail","Shop",new {productId=item.productId })">
                                    <img src="@Url.Action("Thumbnail","Shop",new {width=290,height=385,Id=item.productId,_imageId=item.productImage.FirstOrDefault().imageId })" alt="@item.productName">
                                </a>
                            </div>
                            <div class="fr__hover__info">
                                <ul class="product__action">
                                    <li>
                                        <a title="Favorilere Ekle" href="javascript:void(0);" id="addWish" productId="@item.productId">
                                            <i class="icon-heart icons"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a title="Sepete Ekle" href="@Url.Action("AddCard","Shop",new {productId=item.productId,quantity=1 })">
                                            <i class="icon-handbag icons"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a title="Karşılaştır" href="#">
                                            <i class="icon-shuffle icons"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="fr__product__inner">
                                <h4><a href="@Url.Action("ProductDetail","Shop",new {productId=item.productId })">@item.productName </a></h4>
                                <ul class="fr__pro__prize">
                                    <li class="old__prize">₺ @item.oldPrice</li>
                                    <li>₺ @item.price</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                }


            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(function () {
         // add basket
        $("a#addWish").click(function() {
            var productId = $(this).attr("productId");
            var quantity = 1;
            $.ajax({
                url:'@Url.Action("addWish","Account")',
                type: "POST",
                data: {productId:productId, quantity: quantity },
                success: function (response) {
                    $.notify(response, "info", { position: "middle" });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $.notify(xhr.status,"alert");
                    $.notify(thrownError);
                }
            });
        });
    });
</script>
