@model goldStore.Areas.Panel.Models.user
@{
    ViewBag.Title = "Profilim";
    Layout = null;
}
@Html.Partial("~/Views/_Shared/_header.cshtml")
<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(/asset/images/zemin1.jfif) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner">
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" href="@Url.Action("Index","Account")">Hesabım</a>
                            <span class="brd-separetor"><i class="zmdi zmdi-chevron-right"></i></span>
                            <span class="breadcrumb-item active">Favori Listem</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wishlist-area ptb--100 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="wishlist-content">

                    @if (ViewBag.status == true)
                    {
                        <div class="alert alert-success">
                            <strong>Tebrikler!</strong>@ViewBag.message
                        </div>
                    }
                    else
                    {
                        if (ViewBag.message != null)
                        {
                            <div class="alert alert-danger">
                                <strong>Error!</strong>@ViewBag.message
                            </div>
                        }
                    }

                </div>
                <div class="wishlist-content">
                    @using (Html.BeginForm("MyProfile", "Account", FormMethod.Post, new { id = "profileForm" }))
                    {

                        <div class="col-md-6 col-sm-12 col-xs-12">


                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.Label("Ad")
                            <div class="form-row">
                                @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.Label("Soyad")
                            <div class="form-row">
                                @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.Label("Email")
                            <div class="form-row">
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.Label("Şifre")
                            <div class="form-row">
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.Label("Şifre Tekrar")
                            <div class="form-row">
                                @Html.EditorFor(model => model.rePassword, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12">

                            @Html.Label("Telefon")
                            <div class="form-row">
                                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.Label("Adres")
                            <div class="form-row">
                                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.Label("Şehir")
                            <div class="form-row">
                                @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-row">
                                @*@Html.CheckBoxFor(model=>model.subscribe)*@
                                Yenilik ve ve haberlerden haberdar olmak istiyorum

                            </div>
                        </div>
                        <div class="ht__comment__btn--2 mt--30">
                            <a class="fr__btn" href="javascript:void(0);" id="submitForm">Kaydet</a>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
            @{
                Html.RenderAction("PartialBrands", "Shop");
            }
            @Html.Partial("~/Views/_Shared/_footer.cshtml")

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script type="text/javascript">
                $(function () {
                    $("#submitForm").click(function () {
                        $("#profileForm").submit();
                    });
                });
            </script>

