@model PagedList.IPagedList<goldStore.Areas.Panel.Models.Entity.orders>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Panel/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Tüm Siparişler</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model=>model.FirstOrDefault().orderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().isOther)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().postCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().shipPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().orderPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().discountPrice)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Payment.PaymentName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.orderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isOther)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            ₺ @Html.DisplayFor(modelItem => item.shipPrice)
        </td>
        <td>
            ₺ @Html.DisplayFor(modelItem => item.orderPrice)
        </td>
        <td>
            ₺ @Html.DisplayFor(modelItem => item.discountPrice)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Payment.PaymentName)
        </td>
        <td>
            @Html.ActionLink("Detaylar", "Detail", new { id=item.orderId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.orderId })
        </td>
    </tr>
}

</table>
<ul class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("/", new
          {
              page
            

          }))

</ul>
